.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: black;
    color: white;
}
.user-name {
    padding: 0 10px;
}
.user-settings {
    display: flex;
    align-items: center;
}
.user-settings img {
    width: 15px;
    height: 15px;
}

@media screen and (max-width: 800px) {
    .circle {
        width: 20px;
        height: 20px;
    }
    .user-name {
        padding: 0 5px;
    }
    .user-settings img {
        width: 7px;
        height: 7px;
    }
}