.auth {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 540px;
    height: 100%;
    padding: 0;
    margin: 0 auto;
}
.auth .auth-text {
    margin-bottom: 20px;
}
.auth .register {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    background-color: rgba(0, 255, 85, 0.2);
    border: 1px solid rgba(0, 128, 64, 0.4);
    height: 40px;
    padding: 0 45px;
    width: 100%;
}
.register a {
    margin-left: 30px;
    color: rgb(0, 139, 185);
    text-decoration: underline;
    cursor: pointer;
}
.register a:active {
    color: rgb(185, 0, 77);
}
.auth-items {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
}
.auth-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

@media screen and (max-width: 800px) {
    .auth {
        width: 270px;
    }
    .auth .auth-text {
        margin-bottom: 10px;
    }
    .auth .register {
        height: 20px;
        padding: 0 22px;
    }
    .register a {
        margin-left: 15px;
    }
    .auth-items {
        margin-top: 15px;
    }
    .auth-loader {
        margin-top: 100px;
    }
}