.table-header-left {
    display: flex;
    align-items: center;
}
.table-header-left p {
    margin-right: 8px;
}
.table-header-left .return-link {
    background-color: transparent;
    border: none;
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    .table-header-left p {
        margin-right: 4px;
    }
}