.tab-item {
    padding: 0;
}
.tab-item a {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    height: 50px;
    text-decoration: none;
    padding: 0 15px;
    padding-top: 15px;
}
.tab-item a:hover {
    border-bottom: 3px solid #CE6AFD;
}
.tab-item a.active {
    border-bottom: 3px solid #CE6AFD;
}

@media screen and (max-width: 800px) {
    .tab-item a {
        height: 25px;
        padding: 0 7px;
        padding-top: 7px;
    }
    .tab-item a:hover {
        border-bottom: 2px solid #CE6AFD;
    }
    .tab-item a.active {
        border-bottom: 2px solid #CE6AFD;
    }
}