.message {
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
}
.message.projects-page {
    width: 600px;
}
.message.edit-user-page {
    width: 60%;
}
.message.main-table-page,
.message.archive-page,
.message.main-message {
    width: 340px;
}
.message.permanent {
    height: 36px;
}
.message p {
    padding: 5px 10px;
    border-radius: 5px;
}
.message p.success {
    border: 1px solid green;
    background-color: rgb(202, 255, 211);
}
.message p.error {
    border: 1px solid red;
    background-color: rgb(255, 202, 202);
}

@media screen and (max-width: 800px) {
    .message.projects-page {
        width: 300px;
    }
    .message.edit-user-page {
        width: 60%;
    }
    .message.main-table-page,
    .message.archive-page,
    .message.main-message {
        width: 190px;
    }
    .message p {
        padding: 2px 5px;
        border-radius: 3px;
    }
}