.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 6px;
    cursor: pointer;
}
.btn:hover {
    border: 1px solid #CE6AFD;
}
.btn.start {
    width: 90px;
}
.btn.start img {
    margin-right: 6px;
}
.btn.edit {
    height: 36px;
    width: 98px;
}

@media screen and (max-width: 800px) {
    .btn {
        border-radius: 5px;
        padding: 3px;
    }
    .btn.start {
        width: 45px;
    }
    .btn.start img {
        height: 11px;
        width: 11px;
        margin-right: 3px;
    }
    .btn.edit {
        height: 18px;
        width: 49px;
    }
}