.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 6px;
    cursor: pointer;
}
.btn:hover {
    border: 1px solid #CE6AFD;
}
.btn.start {
    width: 90px;
}
.btn.start img {
    margin-right: 6px;
}
.btn.edit {
    height: 36px;
    width: 98px;
}