.day-total {
    box-sizing: border-box;
    text-align: right;
    width: 156px;
    height: 50px;
    padding-top: 4px;
    padding-right: 8px;
}

@media screen and (max-width: 800px) {
    .day-total {
        width: 78px;
        height: 25px;
        padding-top: 2px;
        padding-right: 4px;
    }
}